@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neutral-900: #2D2033;
  --primary-50: #E9C0FA;
  --primary-100: #E2ABF9;
  --primary-200: #DA96F7;
  --primary-300: #D381F5;
  --primary-400: #CB6CF4;
  --primary-500: #C457F2;
  --primary-600: #B731EF;
  --primary-700: #A612E5;
  --primary-800: #8B0FBF;
  --primary-900: #6F0C99;
  --primary-dark-50: #939393;
  --primary-dark-100: #797979;
  --primary-dark-200: #5E5E5E;
  --primary-dark-300: #434343;
  --primary-dark-400: #282828;
  --primary-dark-500: #0D0D0D;
  --primary-dark-600: #0B0B0B;
  --primary-dark-700: #0A0A0A;
  --primary-dark-800: #080808;
  --primary-dark-900: #070707;
  --secondary-50: #e3e1fc;
  --secondary-100: #c7c3f9;
  --secondary-200: #aba5f6;
  --secondary-300: #8f87f4;
  --secondary-400: #7369f1;
  --secondary-500: #574BEE;
  --secondary-600: #2516e5;
  --secondary-700: #1c10ac;
  --secondary-800: #120b72;
  --secondary-900: #090539;
  --accent-1-50: #FAEAB8;
  --accent-1-100: #F9E3A0;
  --accent-1-200: #F7DB88;
  --accent-1-300: #F5D470;
  --accent-1-400: #F4CD59;
  --accent-1-500: #F2C641;
  --accent-1-600: #F0BB1D;
  --accent-1-700: #D8A60F;
  --accent-1-800: #B48A0C;
  --accent-1-900: #906E0A;
  --accent-2-50: #FADDB8;
  --accent-2-100: #F9D1A0;
  --accent-2-200: #F7C688;
  --accent-2-300: #F5BA70;
  --accent-2-400: #F4AF59;
  --accent-2-500: #F2A341;
  --accent-2-600: #F0921D;
  --accent-2-700: #D87E0F;
  --accent-2-800: #B4690C;
  --accent-2-900: #90540A;

  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;

  color-scheme: light dark;
  color: white;
  background-color: var(--primary-dark-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 89.8px;
}

h2 {
  font-size: 67.3px;
}

h3 {
  font-size: 50.5px;
}

h4 {
  font-size: 37.9px;
}

h5 {
  font-size: 28.5px;
}

h6 {
  font-size: 21.3px;
}

a {
  color: var(--neutral-900);
}

.options-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.options-transition-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition:
    opacity 0.4s,
    transform 0.2s;
}

.options-transition-exit {
  opacity: 1;
  transform: translateY(0px);
}

.options-transition-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.4s,
    transform 0.2s;
}

.fade-enter {
  opacity: 0;
  z-index: -1;
}
.fade-enter.fade-enter-active {
  opacity: 1;

  transition: opacity 250ms ease-out;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;

  transition: opacity 250ms ease-out;
}

@keyframes slide-from-right {
  from {
    transform: translateX(500px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100vw);
  }
}

.slide {
  view-transition-name: slide;
}

::view-transition-old(slide) {
  animation: slide-to-left 1s;
}

::view-transition-new(slide) {
  animation: slide-from-right 1s;
}

.button-move {
  view-transition-name: button-move;
}
