@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.options-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.options-transition-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.4s, transform 0.2s;
}

.options-transition-exit {
  opacity: 1;
  transform: translateY(0px);
}

.options-transition-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s, transform 0.2s;
}
